@{
    ViewBag.Title = "Annexure";
    string casheCleaner = DateTime.Now.ToString("ddMMyyyyhhmmss");
}

<div>
    <div class="container">
        <div class="row m-t-10 m-b-10">
            <div class="col-md-6 col-lg-12 text-center">
                <h3>Annexure <span id="FinancialYear"></span></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-2">

            </div>
            <div id="divAnnexure" class="col-md-6 col-lg-8">
                <div class="bradius7 bgWhite row">
                    <div class="col-md-6 col-lg-6 p-t-10 text-left">
                        Profit and Loss
                    </div>
                    <div class="col-md-6 col-lg-6 p-t-10 p-r-25 text-right">
                        ₹ 1750.00
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-2">

            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/underscore.js"></script>
<script src="~/js/Annexure.js?@casheCleaner"></script>