@{
    ViewBag.Title = "Balance Sheet";
    string casheCleaner = DateTime.Now.ToString("ddMMyyyyhhmmss");
}
<div>
    <div class="container">
        <div class="row m-t-10 m-b-10">
            <div class="col-md-6 col-lg-12 text-center">
                <h3>Balance Sheet <span id="FinancialYear"></span></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="bradius7 bgWhite minheight750">
                    <div class="col-md-6 col-lg-12 p-t-10 text-center">
                        <h5>Assets</h5>
                        <hr />
                    </div>
                    <div id="divAssets" class="row">

                    </div>
                    <div id="TotalRight" class="col-md-6 col-lg-12">


                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="bradius7 bgWhite p-l-10 minheight750">
                    <div class="col-md-6 col-lg-12 p-t-10 text-center">
                        <h5>Liabilities</h5>
                        <hr />
                    </div>
                    <div id="divLiabilities" class="row">
                        <div class="col-md-6 col-lg-6 p-t-10 text-left">
                            Profit and Loss
                        </div>
                        <div class="col-md-6 col-lg-6 p-t-10 p-r-25 text-right">
                            ₹ 1750.00
                        </div>
                    </div>
                    <div id="TotalLeft" class="col-md-6 col-lg-12">


                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="~/js/BalanceSheet.js?@casheCleaner"></script>
<script src="~/Scripts/underscore.js"></script>