@{
    ViewBag.Title = "ReportList";
    string casheCleaner = DateTime.Now.ToString("ddMMyyyyhhmmss");
}

<div class="row PaddingTop">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <div class="account-dropdown__item">
                    <a href="/Report/BalanceSheet">
                        <i class="zmdi zmdi-money-box"></i>Balance Sheet
                    </a>
                </div>
                <div class="account-dropdown__item">
                    <a href="/Report/IncomeExpenditure">
                        <i class="zmdi zmdi-money-box"></i>Income over Expenditure
                    </a>
                </div>
                <div class="account-dropdown__item">
                    <a href="/Report/Annexure">
                        <i class="zmdi zmdi-money-box"></i>Annexure
                    </a>
                </div>
                <div class="account-dropdown__item">
                    <a href="/Report/ManorathReceipt">
                        <i class="zmdi zmdi-money-box"></i>Manorath Receipt
                    </a>
                </div>
                <div class="account-dropdown__item">
                    <a href="/Report/AccountTransaction">
                        <i class="zmdi zmdi-money-box"></i>Account Transaction
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>
<script src="~/js/ReportList.js?@casheCleaner"></script>