@using ShreeDwarkadhishMandir.Models;
@{
    ViewBag.Title = "ReportList";
    string casheCleaner = DateTime.Now.ToString("ddMMyyyyhhmmss");

    bool IsAllowedBalanceSheet = CheckValidation.IsAllowedBalanceSheet();
    bool IsAllowedIncomeExpenditure = CheckValidation.IsAllowedIncomeExpenditure();
    bool IsAllowedAnnexure = CheckValidation.IsAllowedAnnexure();
    bool IsAllowedManorathReceiptReport = CheckValidation.IsAllowedManorathReceiptReport();
    bool IsAllowedAccountTransactionReport = CheckValidation.IsAllowedAccountTransactionReport();
    bool IsAllowedBhandarTransaction = CheckValidation.IsAllowedBhandarTransaction();

    bool IsThereAnyAccountReport = IsAllowedBalanceSheet || IsAllowedIncomeExpenditure || IsAllowedAnnexure || IsAllowedManorathReceiptReport || IsAllowedAccountTransactionReport;
    string InventoryReportHeaderClass = IsThereAnyAccountReport ? "nav-item nav-link" : "nav-item nav-link active";
    string InventoryReportListClass = IsThereAnyAccountReport ? "tab-pane fade" : "tab-pane fade show active";
}

<div class="row PaddingTop">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">
                <strong>Configuration</strong>
            </div>
            <div class="default-tab">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        @if (IsThereAnyAccountReport)
                        {
                            <a class="nav-item nav-link active" id="nav-Account-tab" data-toggle="tab" href="#nav-Account" role="tab" aria-controls="nav-Account"
                               aria-selected="true">Account Report</a>
                        }
                        @if (IsAllowedBhandarTransaction)
                        {
                            <a class="@InventoryReportHeaderClass" id="nav-Inventory-tab" data-toggle="tab" href="#nav-Inventory" role="tab" aria-controls="nav-Inventory"
                               aria-selected="false">Inventory Report</a>
                        }
                    </div>
                </nav>
                <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                    @if (IsThereAnyAccountReport)
                    {
                        <div class="tab-pane fade show active" id="nav-Account" role="tabpanel" aria-labelledby="nav-Account-tab">
                            <div class="account-dropdown__item">
                                <a href="/Report/BalanceSheet">
                                    <i class="lab la-accusoft purple_color"></i>Balance Sheet
                                </a>
                            </div>
                            <div class="account-dropdown__item">
                                <a href="/Report/IncomeExpenditure">
                                    <i class="las la-file-invoice purple_color"></i>Income over Expenditure
                                </a>
                            </div>
                            <div class="account-dropdown__item">
                                <a href="/Report/Annexure">
                                    <i class="las la-rupee-sign purple_color"></i>Annexure
                                </a>
                            </div>
                            <div class="account-dropdown__item">
                                <a href="/Report/ManorathReceipt">
                                    <i class="las la-receipt purple_color"></i>Manorath Receipt
                                </a>
                            </div>
                            <div class="account-dropdown__item">
                                <a href="/Report/AccountTransaction">
                                    <i class="las la-exchange-alt purple_color"></i>Account Transaction
                                </a>
                            </div>
                        </div>
                    }
                    @if (IsAllowedBhandarTransaction)
                    {
                        <div class="@InventoryReportListClass" id="nav-Inventory" role="tabpanel" aria-labelledby="nav-Inventory-tab">
                            <div class="account-dropdown__item">
                                <a href="/Report/BhandarSummaryReport" target="_blank">
                                    <i class="las la-file-invoice danger_Color"></i>Bhandar Summary
                                </a>
                            </div>
                            <div class="account-dropdown__item">
                                <a href="/Report/BhandarTransaction">
                                    <i class="las la-sync danger_Color"></i>Bhandar Transaction
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
<script src="~/js/HideProgress.js?@casheCleaner"></script>