@{
    ViewBag.Title = "DarshanTime";
    string casheCleaner = DateTime.Now.ToString("ddMMyyyyhhmmss");
}
<div class="row-search">
    <div class="col-lg-2 block-search">
        <input id="DarshanDate" name="Date" type="text" placeholder="Enter Date" class="form-control">

    </div>
    <div class="col-lg-1 block-search"><button id="SearchDarshan" class="btn btn-outline-secondary btn-lg active" type="button"><i class="fa fa-search"></i></button></div>
    <div class="col-lg-1 block-search">
        <a id="NewDarshan" class="btn btn-outline-secondary btn-lg active" href="\Darshan\CreateDarshan">
            <i class="las la-plus "></i>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class="au-card au-card--bg-blue au-card-top-countries m-b-30">
            <div class="au-card-inner">
                <div class="table-responsive">
                    <table class="table table-top-countries" style="width:100%" id="DarshanTime"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>


<script src="~/js/DarshanTime.js?@casheCleaner"></script>