@{
    ViewBag.Title = "Receipt";
    string casheCleaner = DateTime.Now.ToString("ddMMyyyyhhmmss");
}

<div class="row PaddingTop PaddingRight PaddingLeft">
    <div class="form-group row col-lg-12" style="margin-bottom:10px;">
        <div class="col col-md-6">
            <input type="text" id="ReceiptNo" name="ReceiptNo" placeholder="Please Enter Receipt No/Monorath/Monorathi" class="form-control">
        </div>
        
        <div class="col col-md-6">
            <a href="/Receipt/Receipt" style="float:right;" class="btn btn-primary"><i class="fa fa-plus "></i>Add</a>
        </div>
    </div>
    <div class="col-lg-12">
        <div id="divReceipt" class="table-responsive table--no-card m-b-30">
            <table id="Receipt" class="table table-borderless table-striped table-mandir"></table>
            <div id="pager"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="staticModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true"
     data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticModalLabel">Add Samagri to Receipt</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10 PaddingTop">

                        <input type="hidden" id="ReceiptId" />

                        <div class="row form-group Store">
                            <div class="col col-md-3">
                                <label for="Store" class="form-control-label">Store</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select name="Store" id="Store" class="form-control select2 select2-hidden-accessible searchableDropdown"></select>
                                <small class="help-block form-text text-danger">Please ensure Store given is right as you cannot edit it after save.</small>
                            </div>
                        </div>

                        <div class="row form-group Bhandar">
                            <div class="col col-md-3">
                                <label for="Bhandar" class="form-control-label">Bhandar Name</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select name="Bhandar" id="Bhandar" class="form-control select2 select2-hidden-accessible searchableDropdown "></select>
                                <small class="help-block form-text text-danger">Please ensure Bhandar given is right as you cannot edit it after save.</small>
                            </div>
                        </div>
                        <div class="form-group row Personal UOM">
                            <div class="col col-md-3">
                                <label for="CurrentBalance" class="control-label mb-1">Current Bhandar Balance</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input id="CurrentBalance" name="CurrentBalance" type="text" placeholder="0.00000" readonly="readonly" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row Personal UOM">
                            <div class="col col-md-3">
                                <label for="StockTransactionQuantity" class="control-label mb-1">Nek Quantity</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input id="StockTransactionQuantity" name="StockTransactionQuantity" type="text" placeholder="0.00000" class="form-control Units">
                                <small class="help-block form-text">Please Enter Nek Scrapped to Bhandar.</small>
                            </div>
                        </div>

                        <div class="row form-group UOM">
                            <div class="col col-md-3">
                                <label for="UnitOfMeasurement" class="form-control-label">Unit Of Measurement</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select name="UnitOfMeasurement" id="UnitOfMeasurement" class="form-control select2 select2-hidden-accessible searchableDropdown"></select>
                                <small class="help-block form-text text-danger">Please ensure Unit Of Measurement given is right as you cannot edit it after save.</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="SaveItem" style="width:20%" type="submit" class="btn blueBackground btn-sm">
                    <i class="fa  fa-save"> </i> Save
                </button>
                <button id="SaveNNewItem" style="width:20%" type="submit" class="btn blueBackground btn-sm">
                    <i class="fa  fa-save"> </i> Save &amp; New
                </button>
                <button id="ResetItem" style="width:20%" type="reset" class="btn blueBackground btn-sm">
                    <i class="fa fa-refresh"> </i> Reset
                </button>
                <a style="width:20%" data-dismiss="modal" class="btn blueBackground btn-sm">
                    <i class="fa fa-arrow-left"> </i> Back
                </a>
            </div>
            <div id="SamagriTransaction">
                <div id="divTransactionDetail" class="table-responsive table--no-card">
                    <table id="TransactionDetail" class="table table-borderless table-striped table-mandir"></table>
                    <div id="pager"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Receipt.js?@casheCleaner"></script>