@{
    ViewBag.Title = "Mandir";
    string casheCleaner = DateTime.Now.ToString("ddMMyyyyhhmmss");
}

<div class="card-footer PaddingRight display-none PaddingLeft">
    <button id="Save" type="submit" class="btn blueBackground btn-sm">
        <i class="fa fa-search"></i> Search
    </button>
    <a id="reset" href="/Mandir/Mandir" class="btn blueBackground btn-sm">
        <i class="las la-plus"></i> New
    </a>
</div>
<div class="row PaddingTop PaddingRight PaddingLeft">
    <div class="col-lg-12">
        <div class="table-responsive table--no-card m-b-30">
            <table id="mandirList" class="width-100 table table-borderless table-striped table-mandir">
                
            </table>
        </div>
    </div>
</div>
<script src="~/js/MandirList.js?@casheCleaner"></script>