@{
    ViewBag.Title = "Mandir";
    string casheCleaner = DateTime.Now.ToString("ddMMyyyyhhmmss");
}

<div class="row PaddingTop">
    <div class="col-lg-2">
        <img id="MandirImage" style="height: 100px; display: block; margin-left: auto; margin-right: auto;" />
    </div>
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">
                <strong>Mandir</strong>
            </div>
            <div class="card-body card-block">
                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <input id="Id" type="hidden" />
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="Name" class="form-control-label">Name</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="Name" name="Name" placeholder="Name" class="form-control">
                            <small class="help-block form-text">Please enter mandir Name</small>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="GurudevName" class="form-control-label">Gurudev Name</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="GurudevName" name="GurudevName" placeholder="Gurudev Name" class="form-control">
                            <small class="help-block form-text">Please enter Gurudev Name</small>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="ImageURL" class="form-control-label">Mandir Image URL</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="ImageURL" name="ImageURL" placeholder="Mandir Image URL" class="form-control">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="Address" class="form-control-label">Address</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <textarea name="Address" id="Address" rows="9" placeholder="Address..." class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="Country" class="form-control-label">Country</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <select name="Country" id="Country" class="form-control">
                                <option value="0">Please select Country</option>
                            </select>
                            <small class="help-block form-text">Please select Country</small>
                        </div>
                    </div>

                    <div id="stateDiv" class="row form-group">
                        <div class="col col-md-3">
                            <label for="State" class="form-control-label">State</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <select name="State" id="State" class="form-control">
                                <option value="0">Please select State</option>
                            </select>
                            <small class="help-block form-text">Please select State</small>
                        </div>
                    </div>

                    <div id="cityDiv" class="row form-group">
                        <div class="col col-md-3">
                            <label for="City" class="form-control-label">City</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <select name="City" id="City" class="form-control">
                                <option value="0">Please select City</option>
                            </select>
                            <small class="help-block form-text">Please select City</small>
                        </div>
                    </div>

                    <div id="cityDiv" class="row form-group">
                        <div class="col col-md-3">
                            <label for="Village" class="form-control-label">Village</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <select name="Village" id="Village" class="form-control">
                                <option value="0">Please select Village</option>
                            </select>
                            <small class="help-block form-text">Please select Village</small>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="PostalCode" class="form-control-label">PostalCode</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="PostalCode" name="PostalCode" placeholder="PostalCode" class="form-control">
                            <small class="help-block form-text">Please enter PostalCode</small>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="PhoneNumber" class="form-control-label">Phone Number</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="PhoneNumber" name="PhoneNumber" placeholder="Phone Number" class="form-control">
                            <small class="help-block form-text">Please enter Phone Number</small>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="Email" class="form-control-label">Email</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="email" id="Email" name="Email" placeholder="Enter Email" class="form-control">
                            <small class="help-block form-text">Please enter email</small>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="RegistrationNumber" class="form-control-label">Registration Number</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="RegistrationNumber" name="RegistrationNumber" placeholder="Registration Number" class="form-control">
                            <small class="help-block form-text">Please enter Registration Number</small>
                        </div>
                    </div>

                </form>
            </div>
            <div class="card-footer">
                <button id="Save" style="width:20%" type="submit" class="btn blueBackground btn-sm">
                    <i class="fa  fa-save"></i> Save
                </button>
                <button id="reset" style="width:20%" type="reset" class="btn blueBackground btn-sm">
                    <i class="fa fa-refresh"></i> Reset
                </button>
                <a style="width:20%" href="/Mandir/MandirList" class="btn blueBackground btn-sm">
                    <i class="fa fa-arrow-left"> </i> Back
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>
<script src="~/js/Mandir.js?@casheCleaner"></script>