
@{
    ViewBag.Title = "Samagri";
}


<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 PaddingTop">
        <div class="card">
            <div class="card-header">
                <strong>Samagri</strong>
            </div>

            <div class="card-body card-block">
                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

                    <input type="hidden" id="Id" name="Id" class="form-control">

                    <div class="form-group row">
                        <div class="col col-md-3">
                            <label for="SamagriName" class="control-label mb-1">Samagri Name</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input id="SamagriName" name="SamagriName" type="text" placeholder="Enter Samagri Name" class="form-control">
                            <small class="help-block form-text">Please Enter Samagri Name.</small>
                        </div>
                    </div>

                    <div class="row form-group General">
                        <div class="col col-md-3">
                            <label for="Description" class="form-control-label">Samagri Description</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <textarea name="Description" id="Description" rows="9"
                                      placeholder="Samagri Description" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="UnitOfMeasurement" class="form-control-label">Unit Of Measurement</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <select name="UnitOfMeasurement" id="UnitOfMeasurement" class="form-control"></select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col col-md-3">
                            <label for="Balance" class="control-label mb-1">Current Samagri Balance</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input id="Balance" name="Balance" type="text" placeholder="Enter Samagri Balance" class="Balance form-control bhandar">
                            <small class="help-block form-text">Please Enter Samagri Balance.</small>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col col-md-3">
                            <label for="NoOfUnit" class="control-label mb-1">No of Unit</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input id="NoOfUnit" name="NoOfUnit" type="text" placeholder="0.00" class="Balance form-control">
                            <small class="help-block form-text">Please Enter no of unit to be prepared in samagri.</small>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col col-md-3">
                            <label for="MinmumAmount" class="control-label mb-1">Minmum amount validation</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input id="MinmumAmount" name="MinmumAmount" type="text" placeholder="0.00" class="Balance form-control">
                            <small class="help-block form-text">Please Enter Minmum amount validation.</small>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label class=" form-control-label"></label>
                        </div>
                        <div class="col col-md-9">
                            <div class="form-check">
                                <div class="checkbox">
                                    <label for="IsActive" class="form-check-label ">
                                        <input type="checkbox" id="IsActive" name="IsActive" class="form-check-input">Is Active
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>

<div id="SamagriBhandarList" class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 PaddingTop">
        <div class="card">
            <div class="card-header">
                <strong>Samagri Bhandar</strong>
            </div>

            <div class="card-body card-block">

                <button id="NewSamagriBhandar" type="button" class="btn blueBackground btn-sm mb-1" data-target="#scrollmodal">
                    <i class="fa fa-plus"></i> New
                </button>

                <div class="table-responsive table--no-card m-b-30">
                    <table id="SamagriBhandar" style="width:100%" class="table table-borderless table-striped table-mandir"></table>
                </div>
            </div>

            <div class="card-footer">
                <button id="SaveAdd" style="width:20%" type="submit" class="btn blueBackground btn-sm">
                    <i class="fa  fa-save"> </i> Save
                </button>
                <button id="reset" style="width:20%" type="reset" class="btn blueBackground btn-sm">
                    <i class="fa fa-refresh"> </i> Reset
                </button>
                <a id="reset" style="width:20%" href="/Samagri/Samagri" class="btn blueBackground btn-sm">
                    <i class="fa fa-arrow-left"> </i> Back
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="modal fade" id="scrollmodal" tabindex="-1" role="dialog" aria-labelledby="scrollmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="scrollmodalLabel">Samagri Bhandar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 PaddingTop">
                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                            <input type="hidden" id="SamagriBhandarId" name="SamagriBhandarId" class="form-control">

                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="SamagriBhandarUOM" class="form-control-label">Unit Of Measurement</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <select name="SamagriBhandarUOM" id="SamagriBhandarUOM" class="form-control"></select>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="Bhandar" class="form-control-label">Bhandar</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <select name="Bhandar" id="Bhandar" class="form-control"></select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col col-md-3">
                                    <label for="BhandarNoOfUnit" class="control-label mb-1">No of unit to be required</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input id="BhandarNoOfUnit" name="BhandarNoOfUnit" type="text" placeholder="0.00" class="form-control bhandar">
                                    <small class="help-block form-text">Please Enter No of unit to be required to make Samagri.</small>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label class=" form-control-label"></label>
                                </div>
                                <div class="col col-md-9">
                                    <div class="form-check">
                                        <div class="checkbox">
                                            <label for="SamagriBhandarIsActive" class="form-check-label ">
                                                <input type="checkbox" id="SamagriBhandarIsActive" name="SamagriBhandarIsActive" class="form-check-input">Is Active
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group" style="display:none;">
                                <div class="col col-md-3">
                                    <label class=" form-control-label"></label>
                                </div>
                                <div class="col col-md-9">
                                    <div class="form-check">
                                        <div class="checkbox">
                                            <label for="IsNew" class="form-check-label ">
                                                <input type="checkbox" id="IsNew" name="IsNew" class="form-check-input">Is New
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="SaveBhandar" style="width:20%" type="submit" class="btn blueBackground btn-sm">
                    <i class="fa  fa-save"> </i> Save
                </button>
                <button id="resetBhandar" style="width:20%" type="reset" class="btn blueBackground btn-sm">
                    <i class="fa fa-refresh"> </i> Reset
                </button>
                <a style="width:20%" data-dismiss="modal" class="btn blueBackground btn-sm">
                    <i class="fa fa-arrow-left"> </i> Back
                </a>
            </div>
        </div>
    </div>
</div>

<script src="~/js/CreateSamagri.js"></script>