@{
    ViewBag.Title = "Samagri";
    string casheCleaner = DateTime.Now.ToString("ddMMyyyyhhmmss");
}

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 PaddingTop">
        <div class="card">
            <div class="card-header">
                <strong>Samagri</strong>
            </div>

            <div class="card-body card-block">
                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

                    <input type="hidden" id="Id" name="Id" class="form-control">

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="Samagri" class="form-control-label">Samagri Name</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <select name="Samagri" id="Samagri" class="form-control select2 select2-hidden-accessible searchableDropdown "></select>
                            <small class="help-block form-text text-danger">Please ensure Samagri given is right as you cannot edit it after save.</small>
                        </div>
                    </div>

                    <div class="row form-group General">
                        <div class="col col-md-3">
                            <label for="Recipe" class="form-control-label">Samagri Recipe</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <textarea name="Recipe" id="Recipe" rows="9"
                                      placeholder="Samagri Recipe" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="Description" class="form-control-label">Description</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <textarea name="Description" id="Description"
                                      placeholder="Description" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label class=" form-control-label"></label>
                        </div>
                        <div class="col col-md-9">
                            <div class="form-check">
                                <div class="checkbox">
                                    <label for="IsActive" class="form-check-label ">
                                        <input type="checkbox" id="IsActive" name="IsActive" class="form-check-input">Is Active
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

            <div class="card-header">
                <strong>Output</strong>
            </div>

            <div class="card-body card-block">
                <div class="form-group row Personal">
                    <div class="col col-md-3">
                        <label for="OutputQuantity" class="control-label mb-1">Quantity</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input id="OutputQuantity" name="OutputQuantity" type="text" placeholder="0.00000" class="form-control Units">
                        <small class="help-block form-text text-danger">Please ensure Quantity given is right as you cannot edit it after save.</small>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="UnitOfMeasurement" class="form-control-label">Unit Of Measurement</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <select name="UnitOfMeasurement" id="UnitOfMeasurement" class="form-control select2 select2-hidden-accessible searchableDropdown"></select>
                        <small class="help-block form-text text-danger">Please ensure Unit Of Measurement given is right as you cannot edit it after save.</small>
                    </div>
                </div>
            </div>

        </div>

        <div class="card">
            <div class="card-body card-block">
                <button id="NewSamagriDetail" type="button" class="btn btn-primary rounded-button mb-1" data-toggle="modal" data-target="#staticModal">
                    Add Samagri
                </button>
            </div>
        </div>
        <div>
            <div id="divBhandar" class="table-responsive table--no-card">
                <table id="bhandar" class="table table-borderless table-striped table-mandir"></table>
                <div id="pager"></div>
            </div>
        </div>
        <div class="card m-t-30">
            <div class="card-body card-block">
                @*<button id="NewSamagriDetail" type="button" class="btn btn-primary mb-1" data-toggle="modal" data-target="#staticModal">
                    Add Samagri
                </button>*@
            </div>
            <div class="card-footer">
                <button id="Save" style="min-width: 20%;" type="submit" class="btn button-save-new rounded-button">
                    <i class="las la-save"></i> Save
                </button>
                <button id="reset" style="min-width: 20%;" type="reset" class="btn button-reset rounded-button">
                    <i class="las la-undo-alt"> </i> Reset
                </button>
                <a id="reset" style="min-width: 20%;" href="/Samagri/Samagri" class="btn button-Back rounded-button">
                    <i class="las la-long-arrow-alt-left"> </i> Back
                </a>
            </div>
        </div>

    </div>
    <div class="col-lg-2"></div>
</div>

<div class="modal fade" id="staticModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true"
     data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticModalLabel">Samagri</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10 PaddingTop">
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="KachiSamagri" class="form-control-label">Kachi Samagri</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select name="KachiSamagri" id="KachiSamagri" class="form-control select2 select2-hidden-accessible model-dropdown "></select>
                                <small class="help-block form-text text-danger">Please ensure Kachi Samagri selected is right as you cannot edit it after save.</small>
                            </div>
                        </div>
                        <div class="form-group row Personal">
                            <div class="col col-md-3">
                                <label for="Quantity" class="control-label mb-1">Quantity</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input id="Quantity" name="Quantity" type="text" placeholder="0.00000" class="form-control Units">
                                <small class="help-block form-text text-danger">Please ensure Quantity given is right as you cannot edit it after save.</small>
                            </div>
                        </div>
                        <div class="row form-group UOM">
                            <div class="col col-md-3">
                                <label for="UOM" class="form-control-label">Unit Of Measurement</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select name="UOM" id="UOM" class="form-control select2 select2-hidden-accessible model-dropdown"></select>
                                <small class="help-block form-text text-danger">Please ensure Unit Of Measurement given is right as you cannot edit it after save.</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="SaveBhandar" style="min-width: 20%;" type="submit" class="btn button-save-new rounded-button">
                    <i class="las la-save"></i> Save
                </button>
                <button id="resetBhandar" style="min-width: 20%;" type="reset" class="btn button-reset rounded-button">
                    <i class="las la-undo-alt"> </i> Reset
                </button>
                <a style="min-width: 20%;" data-dismiss="modal" class="btn button-Back rounded-button">
                    <i class="las la-long-arrow-alt-left"> </i> Back
                </a>
            </div>
        </div>
    </div>
</div>
<script src="~/js/CreateSamagri.js?@casheCleaner"></script>