@{
    ViewBag.Title = "Purchase";
    string casheCleaner = DateTime.Now.ToString("ddMMyyyyhhmmss");
}

<div class="row ">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">
                <strong>Purchase</strong>
            </div>
            <div class="card-body">

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="PaidFrom" class="form-control-label">Paid From</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <select name="PaidFrom" id="PaidFrom" class="form-control"></select>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="TransactionAmount" class="form-control-label">Purchase</label>
                    </div>
                    <div class="col-12 col-md-5">
                        <input id="TransactionAmount" name="TransactionAmount" type="text" placeholder="₹ 1000.00" class="form-control money OnSave" readonly>
                    </div>
                    <div class="col col-md-4">
                        <div class="form-check-inline form-check">
                            <label for="Cash" class="form-check-label">
                                <input type="radio" id="Cash" name="TransactionFrom" value="Cash" class="form-check-input">Cash
                            </label>
                            <label for="Cheque" class="form-check-label" style="margin-left:10px;">
                                <input type="radio" id="Cheque" name="TransactionFrom" value="Cheque" class="form-check-input">Bank Cheque
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row form-group PaidAccountBalance">
                    <div class="col col-md-3">
                        <label for="PaidAccountBalance" class="form-control-label">Paid Account Balance</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input id="PaidAccountBalance" name="PaidAccountBalance" type="text" placeholder="₹ 1000.00" class="form-control money" readonly>
                    </div>
                </div>

                <div class="row form-group Cheque">
                    <div class="col col-md-3">
                        <label for="ChequeBank" class="form-control-label">Bank Name</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="text" id="ChequeBank" readonly name="ChequeBank" placeholder="Please Enter Cheque Bank Name" class="form-control">
                    </div>
                </div>

                <div class="row form-group Cheque">
                    <div class="col col-md-3">
                        <label for="ChequeBranch" class="form-control-label">Bank Branch</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="text" id="ChequeBranch" readonly name="ChequeBranch" placeholder="Please Enter Cheque Bank Name" class="form-control">
                    </div>
                </div>

                <div class="row form-group Cheque">
                    <div class="col col-md-3">
                        <label for="ChequeNumber" class="form-control-label">Cheque Number</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="text" id="ChequeNumber" name="ChequeNumber" placeholder="Please Enter Cheque Number" class="form-control">
                        <small class="help-block form-text">Please enter Cheque Number.</small>
                    </div>
                </div>

                <div class="row form-group Cheque">
                    <div class="col col-md-3">
                        <label for="ChequeDate" class="form-control-label">Cheque Date</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input id="ChequeDate" name="ChequeDate" type="text" placeholder="Enter Date" class="form-control DarshanDate">
                        <small class="help-block form-text">Please enter Cheque Date.</small>
                    </div>
                </div>

                <div class="row form-group" style="display:none">
                    <div class="col col-md-3">
                        <label for="ChequeStatus" class="form-control-label">cheque status</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <select name="ChequeStatus" id="ChequeStatus" class="form-control">
                            <option selected value="1">Clearing</option>
                            <option value="2">Cleared</option>
                        </select>
                        <small class="help-block form-text">Please select Cheque Status.</small>
                    </div>
                </div>

                <div class="form-group row Personal">
                    <div class="col col-md-3">
                        <label for="Description" class="control-label mb-1">Description</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <textarea id="Description" name="Description" type="text" placeholder="Enter Description" class="form-control"></textarea>
                    </div>
                </div>

            </div>
        </div>
        <div class="card">
            <div class="card-body card-block">
                <button id="NewDetail" type="button" class="btn btn-primary mb-1" data-toggle="modal" data-target="#staticModal">
                    Add Purchase Item
                </button>
            </div>
        </div>
        <div>
            <div id="divTransactionDetail" class="table-responsive table--no-card">
                <table id="TransactionDetail" class="table table-borderless table-striped table-mandir"></table>
                <div id="pager"></div>
            </div>
        </div>
        <div class="card m-t-30">
            
            <div class="card-footer">
                <button id="Save" style="width:20%" type="submit" class="btn blueBackground btn-sm">
                    <i class="fa  fa-save"> </i> Save
                </button>
                <button id="reset" style="width:20%" type="reset" class="btn blueBackground btn-sm">
                    <i class="fa fa-refresh"> </i> Reset
                </button>
                <a id="reset" style="width:20%" href="/Samagri/Samagri" class="btn blueBackground btn-sm">
                    <i class="fa fa-arrow-left"> </i> Back
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>


<div class="modal fade" id="staticModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true"
     data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticModalLabel">Purchase Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10 PaddingTop">

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="ExpensesAccount" class="form-control-label">Expenses Account</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select name="ExpensesAccount" id="ExpensesAccount" class="form-control"></select>
                            </div>
                        </div>


                        <div class="row form-group Store">
                            <div class="col col-md-3">
                                <label for="Store" class="form-control-label">Store</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select name="Store" id="Store" class="form-control select2 select2-hidden-accessible searchableDropdown"></select>
                                <small class="help-block form-text text-danger">Please ensure Store given is right as you cannot edit it after save.</small>
                            </div>
                        </div>

                        <div class="row form-group Bhandar">
                            <div class="col col-md-3">
                                <label for="Bhandar" class="form-control-label">Bhandar Name</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select name="Bhandar" id="Bhandar" class="form-control select2 select2-hidden-accessible searchableDropdown "></select>
                                <small class="help-block form-text text-danger">Please ensure Bhandar given is right as you cannot edit it after save.</small>
                            </div>
                        </div>
                        <div class="form-group row Personal UOM">
                            <div class="col col-md-3">
                                <label for="CurrentBalance" class="control-label mb-1">Current Bhandar Balance</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input id="CurrentBalance" name="CurrentBalance" type="text" placeholder="0.00000" readonly="readonly" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row Personal UOM">
                            <div class="col col-md-3">
                                <label for="StockTransactionQuantity" class="control-label mb-1">Purchase Quantity</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input id="StockTransactionQuantity" name="StockTransactionQuantity" type="text" placeholder="0.00000" class="form-control Units">
                                <small class="help-block form-text">Please Enter Donated Quantity to Bhandar.</small>
                            </div>
                        </div>

                        <div class="row form-group UOM">
                            <div class="col col-md-3">
                                <label for="UnitOfMeasurement" class="form-control-label">Unit Of Measurement</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select name="UnitOfMeasurement" id="UnitOfMeasurement" class="form-control select2 select2-hidden-accessible searchableDropdown"></select>
                                <small class="help-block form-text text-danger">Please ensure Unit Of Measurement given is right as you cannot edit it after save.</small>
                            </div>
                        </div>

                        <div class="row form-group UOM">
                            <div class="col col-md-3">
                                <label for="PurchaseCost" class="form-control-label">Purchase Cost</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input id="PurchaseCost" name="PurchaseCost" type="text" placeholder="₹ 1000.00" class="form-control money">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="SaveItem" style="width:20%" type="submit" class="btn blueBackground btn-sm">
                    <i class="fa  fa-save"> </i> Save
                </button>
                <button id="SaveNNewItem" style="width:20%" type="submit" class="btn blueBackground btn-sm">
                    <i class="fa  fa-save"> </i> Save &amp; New
                </button>
                <button id="ResetItem" style="width:20%" type="reset" class="btn blueBackground btn-sm">
                    <i class="fa fa-refresh"> </i> Reset
                </button>
                <a style="width:20%" data-dismiss="modal" class="btn blueBackground btn-sm">
                    <i class="fa fa-arrow-left"> </i> Back
                </a>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Purchase.js?@casheCleaner"></script>
