@using ShreeDwarkadhishMandir.Models;
@{
    ViewBag.Title = "Samagri Transaction";
    string casheCleaner = DateTime.Now.ToString("ddMMyyyyhhmmss");
    bool IsAllowedIssue = CheckValidation.IsAllowedIssue();
    bool IsAllowedIssueForSamagri = CheckValidation.IsAllowedIssueForSamagri();
    bool IsAllowedSoldOut = CheckValidation.IsAllowedSoldOut();
    bool IsAllowedScrapped = CheckValidation.IsAllowedScrapped();
    bool IsAllowedPurchase = CheckValidation.IsAllowedPurchase();
    bool IsAllowedDonation = CheckValidation.IsAllowedDonation();
    bool IsAllowedComplementary = CheckValidation.IsAllowedComplementary();
    bool IsAllowedNek = CheckValidation.IsAllowedNek();
}
<div class="row PaddingTop PaddingRight PaddingLeft">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                @if (IsAllowedIssueForSamagri)
                {
                    <div class="account-dropdown__item">
                        <a href="/SamagriTransaction/IssueForSamagri">
                            <i class="fa fa-square"></i>Issue for Samagri
                        </a>
                    </div>
                }
                @if (IsAllowedIssue)
                {
                    <div class="account-dropdown__item">
                        <a href="/SamagriTransaction/Issue">
                            <i class="fa fa-square"></i>Issue or Transfer
                        </a>
                    </div>
                }
                @if (IsAllowedSoldOut)
                {
                    <div class="account-dropdown__item">
                        <a href="/SamagriTransaction/SoldOut">
                            <i class="fa fa-square"></i>Sold out
                        </a>
                    </div>
                }
                @if (IsAllowedScrapped)
                {
                    <div class="account-dropdown__item">
                        <a href="/SamagriTransaction/Scrapped">
                            <i class="fa fa-square"></i>Spoiled/Scrapped
                        </a>
                    </div>
                }
                @if (IsAllowedPurchase)
                {
                    <div class="account-dropdown__item">
                        <a href="/SamagriTransaction/Purchase">
                            <i class="fa fa-square"></i>Purchase
                        </a>
                    </div>
                }
                @if (IsAllowedDonation)
                {
                    <div class="account-dropdown__item">
                        <a href="/SamagriTransaction/Donation">
                            <i class="fa fa-square"></i>Take Donation
                        </a>
                    </div>
                }
                @if (IsAllowedComplementary)
                {
                    <div class="account-dropdown__item">
                        <a href="/SamagriTransaction/Complementary">
                            <i class="fa fa-square"></i>Complementary
                        </a>
                    </div>
                }
                @if (IsAllowedNek)
                {
                    <div class="account-dropdown__item">
                        <a href="/SamagriTransaction/Nek">
                            <i class="fa fa-square"></i>Nek
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>
<script src="~/js/HideProgress.js?@casheCleaner"></script>