@{
    ViewBag.Title = "Scrapped";
    string casheCleaner = DateTime.Now.ToString("ddMMyyyyhhmmss");
}

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 PaddingTop">
        <div class="card">
            <div class="card-header">
                <strong>Stock Scrapped</strong>
            </div>
            <div class="card-body card-block">
                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

                    <input type="hidden" id="Id" name="Id" class="form-control">

                    <div class="form-group row Personal">
                        <div class="col col-md-3">
                            <label for="Description" class="control-label mb-1">Description</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <textarea id="Description" name="Description" type="text" placeholder="Enter Description" class="form-control"></textarea>
                        </div>
                    </div>

                </form>
            </div>

        </div>

        <div class="card">
            <div class="card-body card-block">
                <button id="NewDetail" type="button" class="btn btn-primary mb-1 rounded-button" data-toggle="modal" data-target="#staticModal">
                    Add Scrapped Item
                </button>
            </div>
        </div>

        <div>
            <div id="divTransactionDetail" class="table-responsive table--no-card">
                <table id="TransactionDetail" class="table table-borderless table-striped table-mandir"></table>
                <div id="pager"></div>
            </div>
        </div>

        <div class="card m-t-30">

            <div class="card-footer">
                <button id="Save" style="min-width: 20%;" type="submit" class="btn button-save-new rounded-button">
                    <i class="las la-save"></i> Save
                </button>
                <button id="reset" style="min-width: 20%;" type="reset" class="btn button-reset rounded-button">
                    <i class="las la-undo-alt"> </i> Reset
                </button>
                <a id="reset" style="min-width: 20%;" href="/SamagriTransaction/SamagriTransaction" class="btn button-Back rounded-button">
                    <i class="las la-long-arrow-alt-left"> </i> Back
                </a>
            </div>
        </div>

    </div>
    <div class="col-lg-2"></div>
</div>

<div class="modal fade" id="staticModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true"
     data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticModalLabel">Scrapped Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10 PaddingTop">

                        <div class="row form-group Store">
                            <div class="col col-md-3">
                                <label for="Store" class="form-control-label">Store</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select name="Store" id="Store" class="form-control select2 select2-hidden-accessible searchableDropdown"></select>
                                <small class="help-block form-text text-danger">Please ensure Store given is right as you cannot edit it after save.</small>
                            </div>
                        </div>

                        <div class="row form-group Bhandar">
                            <div class="col col-md-3">
                                <label for="Bhandar" class="form-control-label">Bhandar Name</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select name="Bhandar" id="Bhandar" class="form-control select2 select2-hidden-accessible searchableDropdown "></select>
                                <small class="help-block form-text text-danger">Please ensure Bhandar given is right as you cannot edit it after save.</small>
                            </div>
                        </div>
                        <div class="form-group row Personal UOM">
                            <div class="col col-md-3">
                                <label for="CurrentBalance" class="control-label mb-1">Current Bhandar Balance</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input id="CurrentBalance" name="CurrentBalance" type="text" placeholder="0.00000" readonly="readonly" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row Personal UOM">
                            <div class="col col-md-3">
                                <label for="StockTransactionQuantity" class="control-label mb-1">Scrapped Quantity</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input id="StockTransactionQuantity" name="StockTransactionQuantity" type="text" placeholder="0.00000" class="form-control Units">
                                <small class="help-block form-text">Please Enter Scrapped to Bhandar.</small>
                            </div>
                        </div>

                        <div class="row form-group UOM">
                            <div class="col col-md-3">
                                <label for="UnitOfMeasurement" class="form-control-label">Unit Of Measurement</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select name="UnitOfMeasurement" id="UnitOfMeasurement" class="form-control select2 select2-hidden-accessible searchableDropdown"></select>
                                <small class="help-block form-text text-danger">Please ensure Unit Of Measurement given is right as you cannot edit it after save.</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="SaveItem" style="min-width: 20%;" type="submit" class="btn button-save-new rounded-button">
                    <i class="las la-save"></i> Save
                </button>
                <button id="SaveNNewItem" style="min-width: 20%;" type="submit" class="btn button-save-print rounded-button">
                    <i class="las la-save"></i> Save &amp; New
                </button>
                <button id="ResetItem" style="min-width: 20%;" type="reset" class="btn button-reset rounded-button">
                    <i class="las la-undo-alt"> </i> Reset
                </button>
                <a style="min-width: 20%;" data-dismiss="modal" class="btn button-Back rounded-button">
                    <i class="las la-long-arrow-alt-left"> </i> Back
                </a>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Scrapped.js?@casheCleaner"></script>