@{
    ViewBag.Title = "Sold out";
    string casheCleaner = DateTime.Now.ToString("ddMMyyyyhhmmss");
}

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 PaddingTop">
        <div class="card">
            <div class="card-header">
                <strong>Stock Sold out</strong>
            </div>

            <div class="card-body card-block">
                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

                    <input type="hidden" id="Id" name="Id" class="form-control">

                    <div class="row form-group Store">
                        <div class="col col-md-3">
                            <label for="Store" class="form-control-label">Store</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <select name="Store" id="Store" class="form-control select2 select2-hidden-accessible searchableDropdown"></select>
                        </div>
                    </div>

                    <div class="row form-group Bhandar">
                        <div class="col col-md-3">
                            <label for="Bhandar" class="form-control-label">Bhandar Name</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <select name="Bhandar" id="Bhandar" class="form-control select2 select2-hidden-accessible searchableDropdown "></select>
                            <small class="help-block form-text text-danger">Please ensure Bhandar given is right as you cannot edit it after save.</small>
                        </div>
                    </div>

                    <div class="form-group row Personal UOM">
                        <div class="col col-md-3">
                            <label for="Description" class="control-label mb-1">Description</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <textarea id="Description" name="Description" type="text" placeholder="Enter Description" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="form-group row Personal UOM">
                        <div class="col col-md-3">
                            <label for="CurrentBalance" class="control-label mb-1">Current Bhandar Balance</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input id="CurrentBalance" name="CurrentBalance" type="text" placeholder="0.00000" readonly="readonly" class="form-control">
                        </div>
                    </div>

                    <div class="form-group row Personal UOM">
                        <div class="col col-md-3">
                            <label for="SoldOutQuantity" class="control-label mb-1">Sold Out Quantity</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input id="SoldOutQuantity" name="SoldOutQuantity" type="text" placeholder="0.00000" class="form-control Units">
                            <small class="help-block form-text">Please Enter Sold Out Quantity.</small>
                        </div>
                    </div>

                    <div class="form-group row Personal UOM">
                        <div class="col col-md-3">
                            <label for="SoldOutPrice" class="control-label mb-1">Total Sold Out Price</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input id="SoldOutPrice" name="SoldOutPrice" type="text" placeholder="0.00" class="form-control money">
                            <small class="help-block form-text">Please Enter Sold Out Price.</small>
                        </div>
                    </div>

                    <div class="row form-group UOM">
                        <div class="col col-md-3">
                            <label for="UnitOfMeasurement" class="form-control-label">Unit Of Measurement</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <select name="UnitOfMeasurement" id="UnitOfMeasurement" class="form-control select2 select2-hidden-accessible searchableDropdown"></select>
                            <small class="help-block form-text text-danger">Please ensure Unit Of Measurement given is right as you cannot edit it after save.</small>
                        </div>
                    </div>

                </form>
            </div>
            <div class="card-footer">
                <button id="Save" style="width:20%" type="submit" class="btn blueBackground btn-sm">
                    <i class="fa  fa-save"> </i> Save
                </button>
                <button id="reset" style="width:20%" type="reset" class="btn blueBackground btn-sm">
                    <i class="fa fa-refresh"> </i> Reset
                </button>
                <a id="reset" style="width:20%" href="/Bhandar/Bhandar" class="btn blueBackground btn-sm">
                    <i class="fa fa-arrow-left"> </i> Back
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>

<script src="~/js/SoldOut.js?@casheCleaner"></script>