@{
    ViewBag.Title = "Create Bhandar";
}

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 PaddingTop">
        <div class="card">
            <div class="card-header">
                <strong>Bhandar</strong>
            </div>

            <div class="card-body card-block">
                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

                    <input type="hidden" id="Id" name="Id" class="form-control">

                    <div class="row form-group" style="display:none">
                        <div class="col col-md-3">
                            <label for="Mandir" class="form-control-label">Mandir</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <select name="Mandir" id="Mandir" class="form-control"></select>
                        </div>
                    </div>

                    <div class="form-group row Personal">
                        <div class="col col-md-3">
                            <label for="BhandarName" class="control-label mb-1">Bhandar Name</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input id="BhandarName" name="BhandarName" type="text" placeholder="Enter Bhandar Name" class="form-control">
                            <small class="help-block form-text">Please Enter Bhandar Name.</small>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="UnitOfMeasurement" class="form-control-label">Unit Of Measurement</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <select name="UnitOfMeasurement" id="UnitOfMeasurement" class="form-control"></select>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="BhandarCategory" class="form-control-label">Bhandar Category</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <select name="BhandarCategory" id="BhandarCategory" class="form-control"></select>
                        </div>
                    </div>

                    <div class="form-group row Personal">
                        <div class="col col-md-3">
                            <label for="Balance" class="control-label mb-1">Current Bhandar Balance</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input id="Balance" name="CategoryBalance" type="text" placeholder="Enter Bhandar Balance" class="form-control bhandar">
                            <small class="help-block form-text">Please Enter Bhandar Balance.</small>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label class=" form-control-label"></label>
                        </div>
                        <div class="col col-md-9">
                            <div class="form-check">
                                <div class="checkbox">
                                    <label for="IsActive" class="form-check-label ">
                                        <input type="checkbox" id="IsActive" name="IsActive" class="form-check-input">Is Active
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button id="Save" style="width:20%" type="submit" class="btn blueBackground btn-sm">
                    <i class="fa  fa-save"> </i> Save
                </button>
                <button id="reset" style="width:20%" type="reset" class="btn blueBackground btn-sm">
                    <i class="fa fa-refresh"> </i> Reset
                </button>
                <a id="reset" style="width:20%" href="/Bhandar/Bhandar" class="btn blueBackground btn-sm">
                    <i class="fa fa-arrow-left"> </i> Back
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>

<script src="~/js/CreateBhandar.js"></script>