@{
    ViewBag.Title = "ApplicationUserList";
}
<div class="card-footer PaddingRight PaddingLeft" style="background-color:#00000000 !important">
    <button id="Save" type="submit" class="btn blueBackground btn-sm">
        <i class="fa fa-search"></i> Search
    </button>
    <a id="reset" href="/ApplicationUser/ApplicationUser" class="btn blueBackground btn-sm">
        <i class="fa fa-plus"></i> New
    </a>
</div>
<div class="row PaddingTop PaddingRight PaddingLeft">
    <div class="col-lg-12">
        <div class="table-responsive table--no-card m-b-30">
            <table id="ApplicationUserList" style="width:100%" class="table table-borderless table-striped table-mandir">
                
            </table>
        </div>
    </div>
</div>
<script src="~/js/ApplicationUserList.js"></script>