<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KrishnadasAdhikariConnectionString"
            connectionString="Data Source=DESKTOP-RLNP3D7;Initial Catalog=KrishnadasAdhikari;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>