@{
    ViewBag.Title = "Vaishnav";
    string casheCleaner = DateTime.Now.ToString("ddMMyyyyhhmmss");
}

<div class="row PaddingTop PaddingRight PaddingLeft">
    <div class="form-group row col-lg-12">
        <div class="col col-md-6">
            <input type="text" id="VaishnavId" name="VaishnavId" placeholder="Please Enter vaishnav Id/Name/Mobile" class="form-control">
        </div>
        <div class="col col-md-6">
            <a id="reset" href="/Vaishnav/Vaishnav" style="float:right;" class="btn btn-primary">
                <i class="fa fa-plus"></i> New Vaishnav
            </a>
            <a id="reset" href="/Padhramani/Padhramani" style="float:right;" class="btn btn-primary m-r-10">
                <i class="fa fa-plus"></i> Padhramani
            </a>
        </div>
    </div>
    <div class="col-lg-12">
        <div id="divVaishnav" class="table-responsive table--no-card m-b-30">
            <table id="VaishnavList" class="table table-borderless table-striped table-mandir"></table>
            <div id="pager"></div>
        </div>
    </div>
</div>
<script src="~/js/VaishnavJan.js?@casheCleaner"></script>